body{
    font-family: 'Gochi Hand', cursive;
    background-image: url("img/wood1.png");
}

#board{
    margin: 30px auto;
    border: 10px solid #333;
    border-collapse: collapse;
}

.field {
    width: 40px; height: 40px;
}

.row{
    width:auto;
    display: flex;
}

.white::after{
    content: '';
    margin: 2px 0 0 2px;
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    background: white;
    border: solid black 2px;
}

.black::after{
    content: '';
    position: absolute;
    margin: 2px 0 0 2px;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    background: black;
    border: solid white 2px;
}

.row:nth-child(odd) .field:nth-child(even),
.row:nth-child(even) .field:nth-child(odd) {
    background-image: url("img/wood2.png");
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-image: url("img/vase.png");
}

.container input:checked ~ .checkmark {
    background-image: url("img/vase.png");
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 32px;
    height: 33px;
    border-radius: 50%;
    background: #989898;
}

#gameInit{
    color: #989898;
    background-image: url("img/wood2.png");
    width: 400px;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 0;
    margin-left: -200px;
    padding: 10% 20px 0 20px;
}

#gameInit input[type=button]{
    width: 100%;
    margin-bottom: 20px;
}

#gameInit h1{
    font-size: 60pt;
}

@keyframes ldio-23h4l9ow0lh {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
    }
    0% {
        transform: translate(0,0)
    }
    50% {
        transform: translate(0,203.58px);
        animation-timing-function: cubic-bezier(0,0.45,0.55,0.9);
    }
    100% {
        transform: translate(0,0);
    }
}

.ldio-23h4l9ow0lh div {
    position: absolute;
    width: 98.02px;
    height: 98.02px;
    border-radius: 50%;
    background: #e11113;
    left: 139.49px;
    top: 37.7px;
    animation: ldio-23h4l9ow0lh 0.44052863436123346s linear infinite;
}
.loadingio-spinner-ball-9s85axgsvwk {
    width: 377px;
    height: 377px;
    display: inline-block;
    overflow: hidden;

}
.ldio-23h4l9ow0lh {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-23h4l9ow0lh div { box-sizing: content-box; }
/* generated by https://loading.io/ */

.waitingDiv{
    position: fixed;
    z-index: 3;
    background-color: #00000096;
    padding: 30px;
    border-radius: 30px;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
}
.waitingDiv p {
    color: white;
    font-size: 50px;
}

.popup{
    position: fixed;
    z-index: 3;
    height: 200px;
    width: 400px;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    background-image: url("img/vase.png");
    border: black solid 3px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.popup p{
    font-size: 30pt;
    margin: 30px 0;
}

.popup input{
    position: absolute;
    bottom: 20px;
    left: calc(50% - 54px);
}

input[type=button]{
    font-family: 'Gochi Hand', cursive;
    transition: 0.5s;
    background-image: url("img/wood2.png");
    color: #989898;
    padding: 3px 30px;
    border-radius: 6px;
    border: #989898 solid 2px;
    font-size: 30pt;
}

input[type=button]:hover {
    color: #d7d7d7;
    border: #d7d7d7 solid 2px;
}

input[type=button]:active  {
    color: white;
    border: black solid 2px;
}

#buttonsDiv{
    text-align: center;
}